@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  background-color: #111827;
  color: #f5f5f5;
}

html,
body,
#root {
  min-height: 100%;
}

input,select,button[role="combobox"],textarea{
  @apply bg-white text-black border-3 border-thirdc dark:border-muted-text dark:border-secondaryc  outline-2! outline-transparent! focus:outline-thirdc! dark:focus:outline-secondaryc
}

body {
  margin: 0;
  background-color: #f8fafc;
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

body.dark {
  background-color: #111827;
}

:root {
  --primaryc: #1e1b4b;
  --secondaryc: #6d28d9;
  --thirdc: #1f2937;
  --muted-text: #9ca3af;
}

@theme {
  --color-primaryc: var(--primaryc);
  --color-secondaryc: var(--secondaryc);
  --color-thirdc: var(--thirdc);
  --color-muted-text: var(--muted-text);
}

/* Thin */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_28pt-Thin.ttf");
  font-weight: 100;
}
/* Light */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_18pt-ExtraLight.ttf");
  font-weight: 200;
}
/* Extra Light */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_28pt-Light.ttf");
  font-weight: 300;
}
/* Regular */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_18pt-Regular.ttf");
  font-weight: 400;
}
/* Medium */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_18pt-Medium.ttf");
  font-weight: 500;
}

/* semibold */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_18pt-SemiBold.ttf");
  font-weight: 600;
}

/* bold */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_18pt-Bold.ttf");
  font-weight: 700;
}
/* Extra Bold */
@font-face {
  font-family: "inter";
  src: url("/public/fonts/Inter/Inter_18pt-ExtraBold.ttf");
  font-weight: 800;
}

* {
  font-family: "inter";
}

.main-container {
  @apply px-11 lg:px-10;
}
