@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

.dark {
  background-color: #1d1d1d;
  color: #f5f5f5;
}


:root{
  --primaryc:#1E1B4B;
  --secondaryc:#6D28D9;
  --thirdc:#1F2937;
  --muted-text:#9CA3AF;
}

@theme{
  --color-primaryc:var(--primaryc);
  --color-secondaryc:var(--secondaryc);
  --color-thirdc:var(--thirdc);
  --color-muted-text:var(--muted-text);

}

/* Thin */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_28pt-Thin.ttf");
  font-weight:100;
}
/* Light */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_18pt-ExtraLight.ttf");
  font-weight:200;
}
/* Extra Light */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_28pt-Light.ttf");
  font-weight:300;
}
/* Regular */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_18pt-Regular.ttf");
  font-weight:400;
}
/* Medium */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_18pt-Medium.ttf");
  font-weight:500;
}

/* semibold */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_18pt-SemiBold.ttf");
  font-weight:600;
}

/* bold */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_18pt-Bold.ttf");
  font-weight:700;
}
/* Extra Bold */
@font-face{
  font-family:"inter";
  src:url("/public/fonts/Inter/Inter_18pt-ExtraBold.ttf");
  font-weight:800;
}

*{
  font-family:"inter";
}

.main-container{
  @apply px-7;
}
